@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

*{
    margin:0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(8, 255, 173);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    margin: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 82vh;
    width: 35vw;
    background-color: beige;
    opacity: .93;
    border-radius: 20px;
    overflow-x: auto;

}
.imagen__formulario{
    position: relative;
    border-radius: 50%;
    height: 20vh;
    width: auto;
    margin-top: 75px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  .input-wrapper {
    position: relative;
    flex: 1;
    height: 70vh;
    width: 25vw;
    margin: 20px;
  }
  
  .input-field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #999;
    outline: none;
    border-radius: 15px;
    width: 100%;
    border: 1px solid rgb(41, 41, 41);
  }
  
  .input-label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease-out;
    color: #999;
    background-color: transparent;
    padding: 0 5px;

  }
  
  .input-field:focus ~ .input-label,
  .input-field:valid ~ .input-label {
    top: -10px;
    transform: translateY(0%);
    font-size: 12px;
    color: transparent;
    font-weight: bold;
    
  }
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin:20px;
    height: 6.5vh;
    width: 7.5vw;
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid cornflowerblue;

}
#btn_enviar:hover{
    background-color: aliceblue;
    
}
#btn_volver:hover{
    background-color: aliceblue;
    
}
